.Button {
  display: inline-block;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
}

.Green {
  background-color: #4dd599;
  color: #ffffff;
}

.Gray {
  background-color: #f4f6f8;
  color: #9c9c9c;
}
