@import "index.scss";

.List {
  background-color: #f4f6f8;
  min-width: fit-content;
  min-height: 100%;
  max-height: 100%;
  overflow-x: visible;
  overflow-y: scroll;
  padding: 4rem;
  border-right: 1px solid #f1f1f1;

  &::-webkit-scrollbar {
    width: 0;
  }

  @include desktop {
    padding: 3rem 2rem;
  }

  @include tablet-1 {
    padding: 1rem;
  }

  @include tablet-2 {
    position: relative;
    right: -20.6rem;
    box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.5);
    z-index: 2;
    transition: right 0.5s ease;
  }

  li:first-of-type,
  li:last-of-type {
    margin-bottom: 2.5rem;
  }
}

.Item {
  $self: &;

  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem 2.5rem 1rem 1.2rem;
  border-radius: 4px;
  font-size: 1.8rem;
  color: #000;
  transition: all 0.25s ease;

  @include tablet-1 {
    font-size: 1.6rem;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.5);

    #{$self}_button {
      visibility: visible;
      opacity: 0.3;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  &___active {
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  }

  &_image,
  &_badge {
    margin-right: 1.5rem;
  }

  &_image {
    width: 1.3rem;
  }

  &_name {
    width: 12rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &_button {
    visibility: hidden;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-1rem, -50%);
    padding: 0.2rem;
    opacity: 0;
    transition: all 0.25s ease;

    @include tablet-1 {
      transform: translate(-0.8rem, -50%);
    }
  }
}

.Button {
  opacity: 0.5;
  border-radius: 0;
  margin-top: 2.5rem;

  &:hover,
  &.active {
    opacity: 1;
    background-color: transparent;
    box-shadow: none;
  }
}
