@import "./index.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  border: none;
  outline: none;
  font-family: "Roboto", -apple-system, system-ui, sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
.todo {
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: hidden;

  @include tablet-2 {
    flex-direction: row-reverse;
  }

  &__menu-button {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;

    &:hover {
      background-color: #000;
    }
  }
}

.sidebar,
.tasks {
  min-height: 100%;
  max-height: 100%;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0;
  }
}
.sidebar {
  background-color: #f4f6f8;
  width: fit-content;
  padding: 4rem;
  border-right: 1px solid #f1f1f1;
  overflow-x: visible;

  @include desktop {
    padding: 3rem 2rem;
  }

  @include tablet-1 {
    padding: 1rem;
  }

  @include tablet-2 {
    transform: translateX(2rem);
  }
}
.tasks {
  flex: 1;
  padding: 4rem 10rem;

  @include desktop {
    padding: 3rem 5rem;
  }

  @include tablet-1 {
    padding: 1rem 2rem;
  }

  @include tablet-2 {
    flex: unset;
    min-width: 100vw;
    transform: translateX(2rem);
  }

  &__blank {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 3.2rem;
    color: #c9d1d3;
  }
}
.field,
.button {
  font-size: 1.4rem;
  letter-spacing: 0.15px;
  border-radius: 4px;
  padding: 0.8rem 1rem;

  @include tablet-1 {
    padding: 0.5rem 1rem;
  }
}
.field {
  background: #fff;
  border: 1px solid #efefef;
  box-sizing: border-box;
  font-weight: 400;

  &::placeholder {
    color: #c7c7c7;
  }
}
.button {
  display: inline-block;
  text-align: center;
  font-weight: 700;
  cursor: pointer;

  &--green {
    background-color: #4dd599;
    color: #ffffff;
  }

  &--gray {
    background-color: #f4f6f8;
    color: #9c9c9c;
  }
}
