@import "index.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  border: none;
  outline: none;
  font-family: "Roboto", -apple-system, system-ui, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.App {
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;

  @include tablet-2 {
    flex-direction: row-reverse;
  }
}

input,
button {
  font-size: 1.4rem;
  letter-spacing: 0.15px;
  border-radius: 4px;
  padding: 0.8rem 1rem;

  @include tablet-1 {
    padding: 0.5rem 1rem;
  }
}

button {
  background-color: transparent;
  cursor: pointer;
}

input {
  background-color: #fff;
  border: 1px solid #efefef;
  box-sizing: border-box;
  font-weight: 400;

  &::placeholder {
    color: #c7c7c7;
  }
}
